<div>
  <%= link_to 'Sou Proprietário', new_buffets_owner_session_path %>
</div>
<div>
  <%= link_to 'Sou Usuário', new_users_user_session_path %>
</div>
<div>
  <%= button_to 'Sair', destroy_buffets_owner_session_path, method: :delete %>
</div>