
<p>Home</>
<p>Seja bem-vindo a maior plataforma de Buffets do Brasil!</p>

<p>Venha conhecer nossos serviços de consultoria.</p>

<div>
  <h2>Veja nossos Buffets cadastrados</h2>
  <%= link_to 'Listar Buffets', listing_path %>
</div>

