<% if @event.errors.any? %>
  <p>Reveja os campos abaixo: </p>
  <ul>
  <% @event.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>

<section>
  <h2>Cadastrar novo evento</h2>
  <%= render 'form' %>
</section>